<table id="bookshelf">
  <tr>
    <th colspan="999">Bookshelf</th>
  </tr>
  <% @books.each_slice(7) do |line_of_books| %>
  <tr>
    <% 7.times do |col| %>
      <td>
        <% if book = line_of_books[col] %>
          <%= raw render_book(book) %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
